module.exports = {
  app: {
    // name: string;
    // version: string;
    // description: string;
    // config: string[];
  },
  commands: [
    // CLICommand
  ],
  middlewares: [
    // RouteMiddleware
  ],
};
